body {
    margin: 0; 
  }
  
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1540910419892-4a36d2c3266c?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8dm90ZXxlbnwwfHwwfHx8MA%3D%3D);
    opacity: 0.7;
    
    background-size: cover; 
  }
  
  .login-form {
    width: 400px; 
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); 
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .login-form p {
    margin-top: 20px;
  }
  
  
  h2 {
    text-align: center;
    color: #333;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #ff0022;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  .signup-link {
    color: #007bff; /* or any color you prefer */
    cursor: pointer;
    font-weight: bold;
  }
  
  .signup-link:hover {
    text-decoration: underline;
  }
  